ul {
    border-left: 5px solid darkred;
    background-color: #F1F1F1;
    list-style-type: none;
    width: 90%;
    max-width: 35rem;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 1px;
}

ul li {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 2rem 1rem;
}
ul a:hover, ul a:active {
    color: #eca8b5;
}

h1 {
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size:48px;
    text-decoration: underline;
}